<div class="wrapper">
<h2>Dodaj studenta</h2>
<form>
    <label>Podaj id</label>
    <input type="number" formControlName="id" #idForm>
    <label>Podaj imię</label>
    <input type="text" formControlName="firstName" #firstNameForm>
    <label>Podaj nazwisko</label>
    <input type="text" formControlName="lastName" #lastNameForm>
    <label>Podaj wiek</label>
    <input type="number" formControlName="age" #ageForm>
    <button (click)="addStudent(idForm.value,firstNameForm.value,lastNameForm.value,ageForm.value)">Add student</button>
</form>
</div>
